[
	{ rabbit, [
		{ loopback_users, [ ] },
		{ tcp_listeners, [ 5672 ] },
		{ ssl_listeners, [ ] },
		{ hipe_compile, false },
        {log_levels,[{channel, warning},{connection, warning},{default, warning}]}
	] },
	{ rabbitmq_management, [ { listener, [
		{ port, 15672 },
		{ ssl, false }
	] } ] },
        {rabbitmq_web_stomp, [ { ssl_config, [
                {port,       15671},
                {backlog,    1024},
                {certfile,   "/ssl/cert.pem"},
                {keyfile,    "/ssl/key.pem"},
                {cacertfile, "/ssl/cacert.pem"}
        ] },
        {log_levels,[{channel, warning},{connection, warning},{default, warning}]}
        ] }
].

